@media (min-width: 1321px) {
  body { background-color: white; }
  #home { top: 100px; }
  #hero-img { width: 300px; }
  .img-1 { top: 40px; }
  .img-2 { top: 220px; }
  .img-3 { top: 30px; }
  #service { grid-template-columns: repeat(3, 350px); }
  .service-card { width: 350px; }
  .card-text { margin-right: 50px; }
  .card-heading { font-size: 25px; margin-right: 50px; }
  .Full-menu { left: 580px; }
}
@media (max-width: 1320px) {
  body { background-color: white; }
  #service { grid-template-columns: repeat(3, 350px); }
  .service-card { width: 350px; }
  .card-text { margin-right: 50px; }
  .grandpa { top: 116px; }
  #all-order-card-container { margin-bottom: 240px; }
  .card-heading { font-size: 25px; margin-right: 50px; }
}
@media (max-width: 1200px) {
  body { background-color: white; }
  .logo { top: 45px; margin-left: 35px; }
  #cart { left: -60px; }
  .grandpa { margin-left: 777px; top: 115px; }
  #all-order-card-container { margin-bottom: 240px; }
  .home-left { margin-left: -35px; }
  .home-right-img { top: 60px; }
  .big-intro { font-size: 45px; }
  #hero-img { width: 260px; }
  #about { margin-left: -40px; }
  #service { grid-template-columns: repeat(3, 300px); margin-left: 150px; }
  .service-card { width: 300px; }
  .card-text { margin-right: 40px; }
  .card-heading { font-size: 20px; margin-right: 60px; }
  .menu-head { margin-left: 80px; }
  .menu-head2 { margin-left: 80px; }
  #wrap-mother { display: grid; grid-template-columns: repeat(3, 300px); margin-left: 80px; row-gap: 25px; }
  .wrap-text { width: 320px; }
  .price-wrap { left: 84px; }
  .wrap-img { width: 320px; height: 320px; }
  .Full-menu { left: 500px; }
  .test-head { margin-left: 80px; }
  .test-head-small { margin-left: 90px; }
  .full-comment { margin-left: 80px; column-gap: 45px; }
}
@media (min-width: 1025px) {
  .hamburger-menu { visibility: hidden; }
}
@media (max-width: 1024px) {
  body { background-color: white; }
  #heading-1 { background-color: white; height: 18%; width: 100%; display: flex; z-index: 5; top: 0px; position: fixed; left: 0px; }
  .grandpa { margin-left: 605px; }
  .logo { top: 45px; margin-left: 40px; width: 120px; }
  #nav-bar { position: absolute; display: flex; flex-direction: column; margin-left: -495px; align-items: center; gap: 25px; }
  .hide-nav { visibility: hidden; background-color: rgba(255, 255, 255, 0.97); height: calc(100vh - 91px); width: 1024px; margin-top: 102px; transition: all 0.3s ease-in-out 0s; pointer-events: none; opacity: 0; transform: translateY(50px); }
  .hide-nav:hover { background-color: rgba(255, 255, 255, 0.1); opacity: 0; }
  .reveal { visibility: visible; transform: translateY(0px); opacity: 1; pointer-events: all; }
  .nav-link { font-size: 15px; transition: all 0.25s ease 0s; }
  .home-right-img { top: 60px; right: 160px; }
  #hero-img { width: 235px; }
  .big-intro { font-size: 45px; margin-right: 10px; }
  .home-left { margin-left: -40px; margin-right: 80px; }
  #about { margin-left: -40px; }
  .about-right { position: relative; top: 20px; margin-left: 170px; margin-right: 80px; }
  .about-head { font-size: 33px; }
  #service { position: relative; display: grid; grid-template-columns: repeat(2, 1fr); gap: 5px 30px; top: 330px; }
  .service-card { margin-right: 70px; }
  .card-heading { font-size: 24px; }
  .menu-head { margin-left: 60px; }
  .menu-head2 { margin-left: 60px; }
  #wrap-mother { display: grid; grid-template-columns: repeat(3, 260px); margin-left: 60px; row-gap: 25px; }
  .wrap-text { width: 260px; }
  .price-wrap { left: 53.5px; }
  .wrap-img { width: 260px; height: 250px; }
  .Full-menu { left: 430px; }
  .test-head { margin-left: 220px; }
  .test-head-small { margin-left: 80px; }
  .full-comment { margin-left: 80px; column-gap: 45px; }
}
@media (max-width: 1023px) {
  #home { display: grid; gap: 170px; justify-content: center; }
  .big-intro { font-size: 65px; margin-right: 120px; text-align: center; }
  .home-left { margin-left: 0px; margin-right: 80px; }
  .hi { text-align: center; margin-left: 340px; top: 120px; }
  .small-intro { text-align: center; left: 40px; font-size: 17px; font-weight: 400; }
  #menu-about { justify-content: center; top: 200px; left: 35px; }
  .our-menu, .about-us { line-height: 3; }
  .home-right-img { justify-content: center; left: -55px; }
  #hero-img { width: 300px; }
  .full-menu-svg { margin-top: 17px; position: relative; left: 30px; }
  .comment-details { margin-right: -20px; }
  .full-comment { gap: 100px; }
  .logo { width: 150px; top: 35px; margin-left: 70px; }
}
@media (max-width: 986px) {
  body { background-color: white; }
  #home { top: 80px; }
}
@media (max-width: 890px) {
  body { background-color: white; }
  #home { top: 80px; margin-left: 50px; }
  .big-intro { font-size: 75px; margin-right: 120px; text-align: center; }
  .full-comment { gap: 150px; color: rgb(38, 31, 65); }
  .comment-details { margin-right: -70px; }
  .hi { left: 50px; }
  .card-text { color: rgb(38, 31, 65); }
  #wrap-mother { display: grid; grid-template-columns: repeat(2, 320px); margin-left: 100px; column-gap: 50px; }
  .wrap-text { width: 320px; }
  .price-wrap { left: 85px; }
  .wrap-img { width: 320px; height: 320px; }
  .test-head { right: 240px; color: rgb(38, 31, 65); }
}
@media (max-width: 768px) {
  body { background-color: white; }
  #heading-1 { height: 15%; }
  .logo { top: 30px; width: 200px; }
  #cart { margin-right: 50px; top: 30px; }
  .grandpa { margin-left: 550px; height: 83%; font-size: 18px; }
  #home { display: grid; justify-content: center; }
  .hi { margin-left: 50%; top: 120px; text-align: center; line-height: 1.6; width: 150px; font-size: 18px; font-family: system-ui; }
  .big-intro { position: relative; font-size: 75px; color: rgb(38, 31, 65); font-weight: 700; top: 170px; text-align: center; margin-left: 190px; margin-right: 130px; }
  .small-intro { position: relative; top: 190px; text-align: center; margin-left: 140px; font-size: 22px; }
  #menu-about { display: flex; position: relative; top: 220px; column-gap: 70px; justify-content: center; margin-left: 220px; }
  .hamburger-menu { gap: 9px; }
  .line { width: 30px; height: 2px; }
  .cart-img { width: 20px; }
  .cart-notification { width: 20px; height: 20px; }
  .Our-menu, .about-us { line-height: 3; width: 150px; font-size: 19px; }
  .home-right-img { top: 170px; left: -145px; }
  #hero-img { width: 370px; }
  .img-1 { left: 380px; }
  .img-2 { left: 220px; top: 250px; }
  .img-3 { left: 80px; }
  #about { display: grid; justify-content: center; top: 750px; }
  .about-right { position: relative; margin-left: 230px; top: -250px; }
  .about-head { font-size: 39px; margin-right: 90px; }
  .about-more-text { font-size: 19.5px; }
  .about-img { width: 880px; justify-content: center; margin-left: 160px; }
  #about-img { aspect-ratio: 5 / 3; overflow: hidden; }
  .xp-container { left: 860px; }
  #service { top: 550px; display: grid; grid-template-columns: repeat(1, 1fr); }
  .card-text { font-size: 20px; margin-right: -190px; }
  .card-heading { font-size: 32px; margin-right: -190px; }
  .card-number { font-size: 47px; top: 95px; }
  #menu { top: 750px; }
  .menu-head { font-size: 32px; }
  .menu-head2 { font-size: 19px; }
  #wrap-mother { display: grid; grid-template-columns: repeat(2, 380px); align-content: center; }
  .wrap-img { width: 380px; height: 380px; }
  .wrap-text { width: 380px; height: 70px; }
  .wrap-title { font-size: 25px; }
  .price-wrap { left: 90.5px; width: 80px; }
  .price { font-size: 25px; top: 20px; }
  .ingredients { font-size: 19.5px; font-family: system-ui; }
  .Full-menu { top: 830px; left: 410px; width: 180px; }
  #testimonials { top: 950px; font-family: system-ui; }
  .test-head { font-size: 50px; margin-left: 300px; margin-right: -280px; }
  .test-head-small { margin-left: 75px; top: -30px; font-size: 20px; }
  .comment-head { font-size: 23px; }
  .full-comment { margin-left: 80px; margin-right: -140px; top: -50px; font-size: 19.5px; }
  .footer { display: grid; position: relative; top: 1050px; background-color: rgb(38, 31, 65); height: 230px; justify-content: center; left: 0px; right: 0px; width: 60rem; }
  .img-foot { position: relative; right: -100px; top: 60px; width: 150px; }
  .copy { font-size: 15px; left: 20px; }
}
@media (max-width: 726px) {
  body { background-color: white; }
  #home { margin-left: 45px; }
  .grandpa { margin-left: 530px; }
  .view-card, .check-card { font-size: 18px; height: 55px; }
  .cart-img { width: 22px; }
  .cart-notification { width: 22px; height: 22px; font-size: 15px; margin-bottom: 35px; }
  .your-order { font-size: 25px; }
  .img-1 { left: 410px; }
  .img-2 { left: 250px; top: 280px; }
  .img-3 { left: 110px; }
  .price-wrap { left: 93px; }
  .wrap-title { top: -8px; }
}
@media (max-width: 600px) {
  body { background-color: white; }
  .logo { width: 190px; }
  .cart-notification { width: 25px; height: 25px; margin-bottom: 49px; }
  .cart-count { font-size: 19px; left: 8px; }
  .hamburger-menu { gap: 10px; margin-top: 17px; }
  .line { width: 35px; height: 3.1px; background-color: rgb(38, 31, 65); }
  .cart-button { width: 60px; height: 60px; }
  .grandpa { margin-left: 309px; width: 650px; height: 90%; }
  .view-card, .check-card { font-size: 18px; height: 65px; width: 120px; }
  .order-card { width: 550px; height: 90px; }
  .order-name { font-size: 25px; font-weight: 400; }
  .order-amount { font-weight: 400; font-size: 25px; }
  #all-order-card-container { row-gap: 50px; }
  .checkout-card { width: 650px; font-size: 25px; padding: 60px; gap: 150px; }
  .view-card, .check-card { width: 180px; height: 80px; right: 70px; font-size: 24px; }
  .order-img { width: 100px; }
  .order-title { width: inherit; height: inherit; }
  .order-price { width: 140px; height: 90px; }
  .cart-img { width: 22px; }
  .your-order { font-size: 25px; }
  #cart { position: relative; top: 35px; right: 110px; border: 3px solid rgb(198, 192, 192); height: 55px; width: 55px; text-align: center; border-radius: 30px; background-color: rgb(198, 192, 192); }
  .cart-img { width: 30px; }
  .cart-notification-cover { width: 25px; height: 25px; bottom: 50px; left: 23px; animation: 2s cubic-bezier(0.42, 0, 0.25, 0.74) 0s infinite normal none running scaleUp; }
  .cart-notification { font-size: 20px; }
  #home { margin-left: 170px; top:140px; }
  .hi { margin-left: 50%; top: 130px; line-height: 1.8; width: 190px; font-size: 23px; }
  .big-intro { top: 190px; }
  .small-intro { font-size: 25px; top: 220px; }
  .Our-menu, .about-us { line-height: 3; width: 180px; font-size: 24px; }
  #menu-about { top: 260px; }
  .home-right-img { top: 150px; }
  #about { margin-left: 115px; top: 750px; }
  .about-head { font-size: 53px; margin-right: 90px; }
  .about-more-text { font-size: 25.5px; margin-right: -80px; }
  #service { top: 650px; margin-left: 80px; }
  .card-text { font-size: 24px; margin-right: -400px; bottom: 14px; }
  .card-heading { font-size: 38px; margin-right: -250px; }
  .card-number { font-size: 59px; top: 60px; margin-left: 70px; }
  #menu { top: 890px; }
  .menu-head { font-size: 52px; }
  .menu-head2 { font-size: 25px; bottom: 110px; }
  #wrap-mother { display: grid; grid-template-columns: repeat(1, 780px); margin-left: 85px; gap: 60px; }
  .wrap-img { width: 780px; height: 700px; }
  .wrap-text { width: 780px; height: 100px; }
  .wrap-title { font-size: 30px; }
  .price-wrap { left: 257.5px; width: 120px; }
  .price { font-size: 30px; top: 35px; }
  .ingredients { font-size: 25.5px; font-family: system-ui; }
  .Full-menu { top: 970px; left: 410px; width: 200px; }
  .Full-menu-text { font-family: system-ui; font-size: 25px; position: relative; top: 10px; }
  #testimonials { top: 1100px; font-family: system-ui; }
  .test-head { font-size: 44px; right: 260px; }
  .test-head-small { margin-left: 75px; top: -30px; font-size: 24px; }
  .comment-head { font-size: 28px; }
  .full-comment { margin-left: 80px; margin-right: -280px; top: -50px; font-size: 23.5px; display: grid; row-gap: 50px; }
  .footer { top: 1200px; }
  .test-img { width: 60px; }
  .customer-name { font-weight: bold; font-size: 23px; }
}
@media (max-width: 554px) {
  body { background-color: white; }
  #home { margin-left: 260px; top:190px;}
  #about { top: 850px; margin-left: 165px; }
  .test-head { margin-left: 300px; margin-right: -350px; }
  .full-menu-svg { width: 30px; top: 10px; position: relative; left: 23px; }
  .price-wrap { left: 262px; }
  .grandpa { margin-left: 330px; }
  .big-intro { top: 150px; font-size:75px; }
    .hi { top: 100px; line-height:2.7;}
  .small-intro{
    font-size:29px;
    top:190px;
  }

  .our-menu,.about-us{
    line-height:3.4;
  }
}
@media (max-width: 482px) {
  body { background-color: white; }
  #home { margin-left: 300px; top:240px; }
  #about { margin-left: 230px; top: 850px; }
  .menu-head { margin-right: -300px; }
  .menu-head2 { margin-right: -300px; }
  .price-wrap { left: 261px; }
  .test-head { margin-right: -400px; }
  .test-head-small { margin-right: -400px; }
  .hi { top: 60px;font-size:30px; line-height:2; width:200px;}
   .big-intro { top: 120px; font-size:95px; }
   .Our-menu,.about-us { line-height: 3; width: 190px; font-size: 29px; }
  .small-intro{
    font-size:32px;
    top:170px;
  }

.menu-cart-container{
  gap:40px;
}

  
.hamburger-menu{
  gap:17px;
  margin-top:25px;
}

.line{
  width:47px;
}

.cart-button{
  width:80px;
  height:80px;
  top:05px;
}

.full-menu-svg{
  margin-top:1px;
}

.img-foot{
  width:270px;
  right:-130px;
}

  .copy{
    font-size:23px;
    font-weight:600;
  }
  
  
.cart-img{
  width:35px;
}

.cart-notification{
  width:35px;
   height:35px;
}

.cart-count{
  font-size:25px;
  left:10px;
}
  
.logo{
  width:290px;
  top:50px;
}
         
  #menu-about{
    top:220px;
  }
}
@media (max-width: 450px) {
  body { background-color: white; }
  .logo { width: 270px; top: 50px; }
  .grandpa { height: 92%; }
  .cart-notification { width: 35px; height: 35px; margin-bottom: 58px; }
  .cart-count { font-size: 25px; left: 10px; }
  .hamburger-menu { gap: 13px; margin-top: 25px; }
  .line { width: 37px; height: 3.3px; background-color: rgb(38, 31, 65); }
  .cart-button { width: 75px; height: 75px; }
  #cart { height: 70px; width: 70px; top: 40px; margin-right: 60px; border-radius: 40px; }
  .cart-img { width: 40px; top: 10px; }
  .cart-notification-cover { width: 35px; height: 35px; bottom: 65px; left: 30px; animation: 2s cubic-bezier(0.42, 0, 0.25, 0.74) 0s infinite normal none running scaleUp; }
  .cart-notification { font-size: 30px; }
  #home { margin-left: 340px; }
  .hi { top: 175px; line-height: 2; font-size: 28px; width: 220px; }
  .big-intro { font-size: 105px; top: 220px; }
  .Our-menu, .about-us { line-height: 2.7; width: 230px; font-size: 30px; top: 45px; }
  .our-menu-svg, .about-us-svg { width: 40px; top: 8px; }
  .small-intro { font-size: 30px; top: 260px; }
  #about { margin-left: 275px; top: 850px; }
  .about-more-text { font-size: 32.5px; margin-right: -115px; }
  .signature-img { width: 300px; }
  #service { top: 780px; margin-left: 80px; }
  .card-text { font-size: 33px; margin-right: -550px; }
  .card-heading { font-size: 45px; margin-right: -390px; }
  .card-number { font-size: 85px; top: 60px; }
  #menu { top: 1090px; }
  .menu-head { font-size: 69px; margin-right: -300px; }
  .menu-head2 { font-size: 32px; margin-right: -400px; }
  .ingredients { font-size: 33.5px; font-family: system-ui; }
  .Full-menu { top: 1150px; left: 410px; width: 250px; height: 70px; }
  .Full-menu-text { font-family: system-ui; font-size: 32px; position: relative; top: 10px; left: 40px; }
  .full-menu-svg { width: 40px; top: 15px; position: relative; left: 24px; }
  #testimonials { top: 1400px; }
  .test-head { font-size: 70px; right: 250px; margin-right: -700px; }
  .test-head-small { margin-left: 75px; top: -30px; font-size: 32px; margin-right: -350px; }
  .comment-head { font-size: 34px; }
  .full-comment { margin-right: -480px; font-size: 32.5px; row-gap: 90px; }
  .test-img { width: 100px; }
  .customer-name { font-weight: bold; font-size: 28px; top: 20px; position: relative; }
  .footer { top: 1600px; height: 350px; }
  .img-foot { width: 270px; right: -130px; }
  .copy { top: 50px; font-size: 23px; }
}
@media (max-width: 438px) {
  body { background-color: white; }
  .big-intro { margin-right: 57px; }
  #about { margin-left: 310px; }
  .test-head { margin-right: -600px; font-size: 55px; }
}
@media (max-width: 360px) {
  body { background-color: white; }
  #home { margin-left: 390px; top: 220px; }
  #cart { top: 60px; }
  .hi { top: 135px; line-height: 2.3; font-size: 34px; width: 250px; left: 70px; }
.logo{
  width:350px;
}

  .price-wrap{
    left:237px;
  }


.cart-button{
  width:110px;
  height:110px;
}

.cart-img{
  width:48px;
}

.hamburger-menu{
  gap:22px;
  margin-top:33px;
}

  .line{
    width:65px;
    height:04px;
  }
  
.cart-notification{
  width:42px;
  height:42px;
  margin-top:-10px;
    }
  
  .cart-count{
    font-size:30px;
    left:13px;
  }
  
  #menu-about { display: grid; row-gap: 40px; margin-top:30px;}
  .Our-menu, .about-us { line-height: 3.3; width: 300px; font-size: 35px; top: 85px; }
  .about-us { left: 2px; }
  .small-intro { font-size: 40px; top: 270px; }
  .home-right-img { top: 430px; }
  #about { margin-left: 365px; top: 1050px; }
  .about-more-text { font-size: 39.5px; }
  #service { top: 980px; }
  .card-text { font-size: 40px; margin-right: -590px; }
  .card-heading { font-size: 52px; margin-right: -570px; }
  .card-number { font-size: 85px; top: 60px; }
  #menu { top: 1300px; margin-left: 15px; }
  .menu-head { font-size: 73px; margin-right: -450px; }
  .menu-head2 { font-size: 37px; margin-right: -490px; }
  .ingredients { font-size: 39.5px; font-family: system-ui; }
  .price { font-size: 39px; }
  .wrap-title { font-size: 39px; bottom: 10px; }
  .Full-menu { top: 1400px; left: 350px; width: 290px; height: 80px; }
  .Full-menu-text { font-family: system-ui; font-size: 39px; position: relative; top: 13px; left: 40px; }
  .full-menu-svg { width: 50px; top: 15px; position: relative; left: 24px; }
  #testimonials { top: 1700px; }
  .test-head { font-size: 73px; right: 250px; margin-right: -850px; }
  .test-head-small { margin-left: 75px; top: -30px; font-size: 39px; margin-right: -450px; }
  .comment-head { font-size: 45px; }
  .comment-details { font-size: 39px; }
  .test-img { width: 120px; }
  .customer-name { font-weight: bold; font-size: 37px; top: 20px; position: relative; }
  .footer { top: 1900px; }
}
